@page "/soundInfomation/{id}"

<PageTitle>Sound @id</PageTitle>

<div class="card" style="width: 18rem" >
    <div class="card-body">
      <p>
            Name: @soundToShow.name
            <br />
            Artist: @soundToShow.artist
            <br />
            Album: @soundToShow.album
            <br />
            Condition: @soundToShow.condition
            <br />
            Speed: @soundToShow.speed
            <br />
            Size: @soundToShow.size
            <br />
            Year: @soundToShow.year
            <br />
            Price: @soundToShow.price
            <br />
            Genre: @soundToShow.genre
            <br />
            Brand: @soundToShow.brand
            <br />
            Tracks: @soundToShow.tracks
      </p>

      <a href="/products" class="btn btn-primary">Go back to products</a>
    </div>
</div>

@code {
    [Parameter]
        public string id { get; set; }
        public Sound soundToShow;

        protected override void OnInitialized()
        {
            soundToShow = allSounds[Int32.Parse(id)];
        }

}