@page "/vinyl/{id}"

<PageTitle>Sound @id</PageTitle>
<br /><br /><br /><br /><br /><br /><br /><br />
<div class="container">
    <div class="card-wrapper">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">@soundToShow.name</h2>
                <h4 class="card-subtitle">@soundToShow.artist</h4>
            </div>
            <div class="card-body">
                <ul class="details-list">
                    <li><strong>Album:</strong> @soundToShow.album</li>
                    <li><strong>Condition:</strong> @soundToShow.condition</li>
                    <li><strong>Speed:</strong> @soundToShow.speed</li>
                    <li><strong>Size:</strong> @soundToShow.size</li>
                    <li><strong>Year:</strong> @soundToShow.year</li>
                    <li><strong>Price:</strong> @soundToShow.price</li>
                    <li><strong>Genre:</strong> @soundToShow.genre</li>
                    <li><strong>Brand:</strong> @soundToShow.brand</li>
                    <li><strong>Tracks:</strong> @soundToShow.tracks</li>
                </ul>
            </div>
            <div class="card-footer">
                <a href="/vinyl" class="btn btn-black">Go back to products</a>
            </div>
        </div>
    </div>
</div>




@code {
    [Parameter]
        public string id { get; set; }
        public Sound soundToShow;

        protected override void OnInitialized()
        {
            soundToShow = allSounds[Int32.Parse(id)-1];
        }

}
